.layout{
    width: 100%;
    background-color: rgba(37, 37, 37, 0.884);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.imgEventos{
    width: 100%;
    border-radius: 5px;

}

.info{
    color: white; 
    margin: 1rem 0;  

}



