.layout{
    width: 100%;
    background-color: rgba(54, 53, 53, 0.63);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.imgEventos{
    width: 100%;
    border-radius: 5px;

}

.info{
    color: rgb(0, 0, 0); 
    margin: 1rem ;  

}



