.layoutHome {
  width: 70%;
  margin: 0 auto;
  margin-top: 8rem;
  display: grid;
  grid-template-areas: "principal principal secundario";
}

.principal {
  min-width: 800px;
  grid-area: principal;
  margin: 0 40px;
}

.secundario {
  background-image: url(/src/Assets/fundo-busca.jpg);
  /* background-color: #000000a7; */
  background-position: top left;
  border-radius: 10px;
  width: 400px;
  height: 80vh;
  grid-area: secundario;
  position: sticky;
  top: 8rem;
  overflow: auto;
  padding: 10px;
  
}

.pesquisa{
  justify-content: space-between;
}

.busca{
  width: 100%;
  height: 3rem;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;

}
.resultado{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.ultimosev{
  margin-top: 20px;
}


