.layoutHome {
  width: 70%;
  margin: 0 auto;
  margin-top: 8rem;
  display: grid;
  grid-template-areas: "principal principal secundario";
}

.principal {
  min-width: 800px;
  grid-area: principal;
  margin: 0 20px;
}

.secundario {
  background-color: rgba(117, 116, 116, 0.356);
  border-radius: 10px;
  width: 400px;
  height: 80vh;
  grid-area: secundario;
  position: sticky;
  top: 8rem;
  overflow: auto;
  padding: 10px;
  
}

.pesquisa{
  justify-content: space-between;
}

.busca{
  width: 100%;
  height: 3rem;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(86, 85, 85, 0.684);
  color: rgb(255, 255, 255);

}
.resultado{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

/* .btnBusca{
  width: 150px;
  border-radius: 5px;
  background-color:rgb(17, 164, 66);
  color: rgb(255, 255, 255);
  font-size: 1rem;
} */


