.areaLogin{
    width: 50%;
    margin: 8rem auto;
    background-color: rgba(97, 91, 91, 0.479);
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 500px;
}

.login{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 100px 0;    
}



.icon{
    width: 20%;
}

.cadastro{
    display: block;
    margin: 20px;
    font-size: 1.5rem;
    color: aliceblue;
}

.cadastro:hover{
    color: rgb(26, 48, 75);

}