.layout{
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
   
}

.grid{
    display: grid;
    grid-template-areas: "userArea userArea userEventos userEventos userEventos ";
}


.userArea{
    width: 400px;
    height: 450px;
    background-color: rgba(117, 116, 116, 0.356);
    border-radius: 10px;
    grid-area: "userArea";
    grid-column: userArea;
    grid-row: userArea;
    position: sticky;
    top: 8rem;
    overflow: hidden;
}

.name{
    width: 200px;
    
}

.userEventos{
    width: 900px;
    grid-area: "userEventos";
    grid-column: userEventos;
    grid-row: userEventos;
    padding: 1rem;

}


.icon{
    margin: 20px;
}

.dadosUser{
    position: relative;
    top: -80px;
    left: 120px;
}


.opcoes li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 50%;
    font-size: 1.5rem;
    font-style: bold;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    background-color:#3a4561;
    text-align: center;

}

.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btnactive{
    width: 50%;
    font-size: 1.5rem;
    font-style: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;

}



.btncriar{
    width: 50%;
    font-size: 1.5rem;
    font-style: bold;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(17, 164, 66);
    text-align: center;

}

.btncriar:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btnExit{
    width: 50%;
    font-size: 1.5rem;
    font-style: bold;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    background-color:#7d1717;
    text-align: center;

}

.btnExit:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}