* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    background-position: center left;
    background-attachment: fixed;
    background-color: #ebe4e4;
    scrollbar-color: #888 #00000000;
    --type-first: Helvetica, Arial, sans-serif;
    --type-second: 'Spectral', Georgia;
    font-family: var(--type-first);
  }
.img{
  width: 100%;
}
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0px;
  }
  
  ul,
  li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  

 
  a {
    text-decoration: none;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
  }

  ::-webkit-scrollbar {
    background-color: #00000000;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #504e4e; 
    border-radius: 5px; 
    size: 20px;
  }